/* global */

*{
  margin: 0;
  background-color: #1e1e1e;
  font-size: 12;
  color: #ccc;
  font-family: 'Segoe UI';
  box-sizing: border-box;
  border: unset;
  caret-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-size: inherit;
  color: #26BE7F;
}

pre {
  padding: 10;
  width: 100%;
  height: 100%;
  tab-size: 4;
  background-color: #252526;
  font-family: monospace;
  caret-color: transparent;
}

textarea {
  padding: 10;
  width: 100%;
  height: 100%;
  tab-size: 4;
  background-color: #252526;
  font-family: monospace;
}

textarea:focus {
  outline: none
}

textarea::placeholder {
  color: #459b42
}

button {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 16;
}

button:hover {
  background-color: #252526;
}

.error {
  color: #f15959;
}

.scrollable {
  resize: none;
  overflow-y: auto;
}

.border {
  border: 1px solid #ccc;
}

.message {
  padding: 10;
  tab-size: 4;
  font-family: monospace;
  caret-color: transparent;
  text-align: right;
}

.headertitle {
  font-size: 24;
  font-weight: bold;
}

/* layout */
.app {
  position: absolute;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 3fr) minmax(0, 15fr) minmax(0, 2fr) auto;
  height: 900px;
  width: 1920px;
}

/* header */
.header {
  grid-column: 1 / 3;
  grid-row: 1;

  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
  width: 100%;
}

.titlebox {
  grid-column: 1;
  grid-row: 1;
  padding: 10;
}

.title {
  font-size: 36;
  font-weight: bold;
}

.subtitle {
  font-size: 20;
}

.infobox {
  grid-column: 2;
  grid-row: 1;
  padding: 10;
}

.info {
  font-size: 16;
}


/* input/output */
.inputcol {
  grid-column: 1;
  grid-row: 2;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr)  minmax(0, 9fr);
  height: 100%;
  width: 100%;
}

.outputcol {
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr)  minmax(0, 9fr);
  height: 100%;
  width: 100%;
}

/* input */
.inputheader {
  grid-column: 1;
  grid-row: 1;
  padding: 10;
  border-bottom: 1px solid #ccc;

  display: grid;
  grid-template-columns: minmax(0, 3fr)  minmax(0, 4fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
  width: 100%;
  align-items: center;
}

.inputtitle {
  grid-column: 1;
  grid-row: 1;
}

.errorbox {
  grid-column: 2;
  grid-row: 1;
}

.buttonbox {
  grid-column: 3;
  grid-row: 1;
}

.inputbox {
  grid-column: 1;
  grid-row: 2;
  caret-color: #ccc;
}

/* output */
.outputheader {
  grid-column: 1;
  grid-row: 1;
  padding: 10;
  border-bottom: 1px solid #ccc;

  display: grid;
  grid-template-columns: minmax(0, 3fr)  minmax(0, 4fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
  width: 100%;
  align-items: center;
}

.inputtitle {
  grid-column: 1;
  grid-row: 1;
}

.messagebox {
  grid-column: 2;
  grid-row: 1;
}

.copybox {
  grid-column: 3;
  grid-row: 1;
}

.outputbox {
  grid-column: 1;
  grid-row: 2;
}

/* footer */
.footer {
  grid-column: 1 / 3;
  grid-row: 3;
  margin-left: 10;
  margin-right: 10;
}